div.container.content {
  margin-bottom: 76px;
  padding-bottom: 1px;
}

a.nav-link {
  color: #adb5bd;
}

a.active {
  color: #1da1f2;
}

input#restore-input {
  display: none;
}

tr.table-expense {
  color: #ffffff;
  background-color: #1da1f2;
}

.table-sm td {
  padding: 0.5em;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.75em;
}

#pwa-prompt > a {
  margin-top: -2px;
  margin-bottom: -2px;
}

/* SweetAlert Overrides */

.swal2-actions:not(.swal2-loading) .swal2-styled:active,
.swal2-actions:not(.swal2-loading) .swal2-styled:hover,
.swal2-actions:not(.swal2-loading) .swal2-styled:focus {
  background: none;
  box-shadow: none;
}

.swal2-header {
  padding: 0 0.5em;
  align-items: start;
}

.swal2-title {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.swal2-content {
  text-align: start;
  padding: 0 0.5em;
  font-size: 1em;
}

.swal2-actions {
  padding: 0 0.5em;
  font-size: 0.75em;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  text-transform: uppercase;
  color: #167c80;
  padding: 0;
}
